#hero-section {
    width: 100%;
    min-height: 100vh;
    /* text-align: center; */
    background-image: url("../media/images/hero-background.webp");
    padding-top: 12.3rem;
    position: relative;
    background-position: contain;
    background-repeat: no-repeat;
    /* border: 2px solid yellow; */
    background-position: right top;
    background-size: 95%;
}

#hero-section .hero-content-container h1 {
    
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #16d0af, #5f78e9);
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
    letter-spacing: -.5px;
    margin-bottom: .5em;
    font-size: 3.4em;
    font-weight: 700;
    line-height: 1.2;
}

#hero-section .hero-content-container {
    max-width: 666px;
    /* border: 2px solid red; */
    display: flex;
    min-height: 100%;
    padding-left: 12.3rem;
    margin-bottom: 11.5rem;
}

#hero-section .hero-content-container h3{
    color: var(--white);
    letter-spacing: -.25px;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    /* padding-right: 2rem; */
  
}

#hero-section .hero-content-container a{
   text-decoration: none;
   color: var(--black);
   padding-left: 2.7rem;
   padding-right: 2.7rem;
   background-color: var(--white);
   text-align: center;
    border-style: none;
    border-radius: 0;
    font-weight: 600;
    margin: 1em 0;
    padding: .75em 2.7em .6em 2.7em;
    transition: background-color .12s cubic-bezier(.455,.03,.515,.955);
    margin-top: .5em;
}







.hero-content3-container{
    /* border: 2px solid yellow; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.hero-content3-container .insights-wrapper{
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 4rem;
    padding-top: 4rem;
    color: var(--white);
}


.hero-content3-container .insights-wrapper::before{
    content: "";
    background-color: var(--white);
    height: .5px;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    margin: 0 4rem;
}

.hero-content3-container .insights-wrapper .insight{
    /* border: 2px solid rgb(29, 29, 26); */
    display: flex;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}

.hero-content3-container .insights-wrapper .insight h2{
    letter-spacing: 0;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 120%;
    color: var(--white);
    margin-right: 16px;
    font-size: 64px;
    font-weight: 400;
}



.hero-content3-container .insights-wrapper .insight h4{
    font-size: 25px;
    font-weight: 400;
}




@media screen and (max-width: 991px) {

    #hero-section .hero-content2-container{
        padding: 0 2.4rem;
    }

    #hero-section .hero-content2-container h3{
        font-size: 24px;
    }

    #hero-section {
        padding-top: 6rem;
    }

    #hero-section .hero-content-container h1 {
        font-size: 80px;
    }

}


@media screen and (max-width: 768px) {

    #hero-section .hero-content2-container .video-wrapper {
        max-width: 100%;
    }

    #hero-section .hero-content-container h1 {
        font-size: 40px;
        margin-bottom: 4rem;
    }

}



@media screen and (max-width: 468px) {

    #hero-section .hero-content2-container .video-wrapper {
        max-height: 200px;
    }

}